$light-gray: #aaa;

.hide {
    display: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -3px;
    margin-bottom: -3px;
}

button {
    width: auto;
    height: 28px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    background-color: rgb(236, 236, 236);
    border-width: 1px;
}

#modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
        display: flex;
    }
}

#modal-close {
    text-align: right;

    div {
        cursor: pointer;
    }
}

header {
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    margin-bottom: 50px;
    padding-top: 100px;
}

#directions {
    box-sizing: border-box;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#controls {
     width: auto;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
}

#puzzle-container {
    border: solid 4px;
    display: grid;
    margin: 10px auto;
    height: 500px;
    width: 500px;
}

#width, #height {
    width: 50px;
    margin-right: 10px;
}

#edit-container {
    box-sizing: border-box;
    clear: both;
    padding-right: 25px;

    button {
        margin-right: 20px;
    }

    button:last-of-type {
        margin-right: 0;
    }

    div {
        width: 100%;
        text-align: right;
        margin-top: 20px;
    }
}

#set-dimensions {
    margin-right: 25px;
}

#image-picker-container {
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.png-container {
    align-items: center;
    border: 1px solid;
    display: flex;
    height: 75px;
    justify-content: center;
    margin-right: 25px;
    width: 75px;

    &:last-of-type {
        margin-right: 0;
    }

    &.current {
        background-color: greenyellow;
    }
}

.png {
    width: 64px;
    height: 64px;
}

.puzzle-cell {
    box-sizing: border-box;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-gray;
}

.droppable-hover {
    background-color: #ff0a02;
}

.fixed {
    background-color: #d0d0d0;
}

.border-1 {
    border-left: solid 3px;
}

.border-2 {
    border-top: solid 3px;
}

.border-3 {
    border-top: solid 3px;
    border-left: solid 3px;
}

.border-4 {
    border-right: solid 3px;
}

.border-5 {
    border-right: solid 3px;
    border-left: solid 3px;
}

.border-6 {
    border-top: solid 3px;
    border-right: solid 3px;
}

.border-7 {
    border-top: solid 3px;
    border-right: solid 3px;
    border-left: solid 3px;
}

.border-8 {
    border-bottom: solid 3px;
}

.border-9 {
    border-bottom: solid 3px;
    border-left: solid 3px;
}

.border-10 {
    border-top: solid 3px;
    border-bottom: solid 3px;
}

.border-11 {
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-left: solid 3px;
}

.border-12 {
    border-right: solid 3px;
    border-bottom: solid 3px;
}

.border-13 {
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-left: solid 3px;
}

.border-14 {
    border-top: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
}

.border-15 {
    border-top: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-left: solid 3px;
}

.highlighted {
    background-color: deepskyblue;
}

#result {
    display: none;
    margin-top: 15px;
    font-family: monospace;

    div div {
        display: inline;
    }   
}
